
.fondo-gris{
    display: flex;
    justify-content: center;
background-color: rgb(116, 114, 114);
opacity: 85%;
width: 800;
height: 800;


}

.lista{
    font-size: larger;
    justify-content: center;
    display: flex ;
    border: solid 4px rgb(72, 146, 121);
    border-style: double;
    background-color: green (72, 146, 121)


;
}

.cuerpo{
background-image:url("https://media.tenor.com/9vRAkntogEMAAAAd/background.gif");
background-size: cover;

}

.centrar{
    display:flex ;
    justify-content: center;
    padding: 30px;
    color: aliceblue;
    font-size: x-large;
}

.centrarfotos{
    display: inline;
    justify-content: center;
    color: aliceblue;
    font-size: x-large;
    width: fit-content;
    height: fit-content;
}

.centrargris{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: x-large;
    background-color: gray;
    border: solid 3px black;
    border-style: ridge;
}

.footer{
    display:flex ;
    justify-content: center;
    color: aliceblue;
    font-style: oblique;
}

.fotos{
   display:flexbox;
   align-items: center;
   justify-content: center;
    border: 1px solid rgba(248, 127, 13, 0.781);
    background-color: orange;
    margin: 5px;
    font-size: x-large;
    width: 200;
}

.fotos:hover { 
    border: 1px solid rgba(255, 255, 255, 0.603);
}

.fotos img {

    width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px){

    .fondo-gris{
        display: flex;
        justify-content: center;
    background-color: rgb(116, 114, 114);
    opacity: 85%;
    width: 800;
    height: 800;
    
    
    }
    
    .lista{
        font-size: larger;
        justify-content: center;
        display: flex ;
        border: solid 4px rgb(72, 146, 121);
        border-style: double;
        background-color: green (72, 146, 121)
    
    
    ;
    }
    
    .cuerpo{
    background-image:url("https://media.tenor.com/9vRAkntogEMAAAAd/background.gif");
    background-size: cover;
    
    }
    
    .centrar{
        display:flex ;
        justify-content: center;
        color: aliceblue;
        font-size: x-large;
    }
    
    .centrargris{
        display: flex;
        justify-content: center;
        color: aliceblue;
        font-size: x-large;
        background-color: gray;
        border: solid 3px black;
        border-style: ridge;
    }
    
    .footer{
        display:flex ;
        justify-content: center;
        color: aliceblue;
        font-style: oblique;
    }
    
    .fotos{
       display:flexbox;
       align-items: center;
       justify-content: center;
        border: 1px solid rgba(248, 127, 13, 0.781);
        background-color: orange;
        margin: 5px;
        font-size: x-large;
        width: 700px;
    }
    
    .fotos:hover { 
        border: 1px solid rgba(255, 255, 255, 0.603);
    }
    
    .fotos img {
    
        width: 100%;
        height: auto;
    }

}